# Ignore Visual Studio files
.vs
*.cache
*.suo
*.user
*.orig
*.dll
*.swp

# Ignore build artefacts in our repository
Build/
Release/
*.User.props
**/obj/
**/bin/

# Specifically allow build artefacts in the Distribution folder
!Distribution/**
