################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
*.user
*.orig
*.dll
*.swp
